.header{
    width: 100%;
    display: flex;
    background-color: #0f172a;
    height: 50px;
}
.titulo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo > h1{
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}